{% extends "stu_index.html" %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../../../static/layui/css/layui.css" rel="stylesheet">
    <script src="../../../static/js/jquery-3.3.1.js"></script>
    <script src="../../../static/layui/layui.js"></script>
</head>
<body>
    <table class="layui-table">
        <thead>
            <tr align="center"><th colspan="5">我的课程</th></tr>
            <tr><th>课程编号</th><th>课程名</th><th>类型</th><th>学分</th><th>操作</th></tr>
        </thead>
        <tbody>

        </tbody>
    </table>
    <a href="http://127.0.0.1:5000/student/select_class">选课</a>
    <script>
        //获取学生信息
        // student = window.sessionStorage.getItem("student")
        //获取
        /**
         * @description 该方法主要将课程填充到表格里面
         * @param class_list 通过ajax获取的课程数组
         */
        function insertClass(class_list){
            $.each(class_list,function (index,item) {
                var course_number = "<td name='"+item.id+"'>"+item.course_number+"</td>"
                var course_name = "<td>"+item.course_name+"</td>"
                var type = "<td>"+item.type+"</td>"
                var credit = "<td>"+item.credit+"</td>"
                var del = "<td ><button class='layui-btn layui-btn-danger layui-btn-sm del'>退课</button></td>"
                $("<tr></tr>").append(course_number).append(course_name).append(type).append(credit).append(del).appendTo($("tbody"))
            })
        }

        /**
         *
         * @param number 退课的学生学号
         * @param course_number 退课的课程编号
         */
        function rmClass(number,course_number){

        }
        function getClass(){
            //根据相应number学号进行请求已选的课程
            $.ajax({
                //删除课程的接口，如果不一致 你到时候改一下
                url:"http://127.0.0.1:5000/student/getCourse",
                type:"POST",
                data:{
                    number:student.id
                },
                success:function (data) {
                    //先将tobody里面的内容清空
                    $("table tbody").empty()
                    //然后再将更新后的课程显示到表格上
                    insertClass(data.data)
                }
            })
        }
        getClass()
        $(document).on("click",".del",function () {
        var course_number = $(this).parent().parent().children(":eq(0)").text()  //获取学号
        var student_number =student.id //获取学号
        $.ajax({

                //这个是学生退课的接口，到时候如果和你的url不一致 麻烦你修改一下
                url:"http://127.0.0.1:5000/student/rm_class",
                type:"POST",
                data:{
                    student_number:student_number,
                    course_number:course_number
                },
                success: function (data) {
                    if(data.success){
                        layer.msg("删除成功")
                        //重新将数据填入表格
                        getClass()
                    }
                }
            })
    })
    </script>
</body>
{% endblock %}