<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../../../static/layui/css/layui.css" rel="stylesheet">
    <script src="../../../static/js/jquery-3.3.1.js"></script>
    <script src="../../../static/layui/layui.js"></script>
</head>
<body>
<table class="layui-table">
    <thead>
    <!--就是你没选过的课程-->
    <tr><th colspan="7" align="center">可能想选的课程</th></tr>
    <tr>
        <th>课程编号</th>
        <th>课程名</th>
        <th>学分</th>
        <th>类型</th>
        <th>学时</th>
        <th>老师</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>002</td>
        <td>数字逻辑</td>
        <td>2</td>
        <td>A</td>
        <th>15</th>
        <td>张东</td>
        <td>已选</td>
    </tr>
    <tr>
        <td>002</td>
        <td>数字逻辑</td>
        <td>2</td>
        <td>A</td>
        <th>15</th>
        <td>张东</td>
        <td>已选</td>
    </tr>
    <tr>
        <td>002</td>
        <td>数字逻辑</td>
        <td>2</td>
        <td>A</td>
        <td>15</td>
        <td>张东</td>
        <td>已选</td>
    </tr>
    <tr>
        <td>002</td>
        <td>数字逻辑</td>
        <td>2</td>
        <td>A</td>
        <td>15</td>
        <td>张东</td>
        <td>已选</td>
    </tr>
    <tr>
        <td>002</td>
        <td>数字逻辑</td>
        <td>2</td>
        <td>A</td>
        <td>15</td>
        <td>张东</td>
        <td>已选</td>
    </tr>
    <tr>
        <td>002</td>
        <td>数字逻辑</td>
        <td>2</td>
        <td>A</td>
        <td>15</td>
        <td>张东</td>
        <td><a href="">选取</a></td>
    </tr>
    <tr>
        <td>002</td>
        <td>数字逻辑</td>
        <td>2</td>
        <td>A</td>
        <td>15</td>
        <td>张东</td>
        <td><a href="">选取</a></td>
    </tr>
    </tbody>
    <script src="../../../static/js/util.js"></script>
    <script>
        //选取课程之后并刷新表格
        function selectCourseAndRefresh(number,course_number,tea) {
            selectCourse(number,course_number,tea);
            unSelectedCourse()
        }
        //该请求地址返回的是客户没有选过的课程列表

        function unSelectedCourse(){
            $.ajax({
                url:"http://127.0.0.1:5000/student/course_select", //个到时候你再改返回学生没有选过课的url
                type:"POST",
                data:{
                    student_number:student.number
                },
                success:function(data) {
                    if(data.success){
                        var course_lsit =  data.data
                        $.each(course_lsit,function (index,item) {
                            //获取教该课的老师对象
                            var teacher = getEntityById(item.teacher_number,"http://127.0.0.1:5000/manage/user/getTeacher")
                            var course_number = "<td>"+item.course_number+"</td>"
                            var course_name = "<td>"+item.course_name+"</td>"
                            var credit = "<td>"+item.credit+"</td>"
                            var  type= "<td>"+item.type+"</td>"
                            var class_times = "<td>"+item.class_times+"</td>" //在课程字段你得定义一个学时 times为学时
                            var teacher = "<td>"+teacher.name+"</td>"
                            var option = "<td><a href = 'javascript:selectCourseAndRefresh("+student.number+","+item.course_number+","+item.teacher_id+")'>选课</a></td>"
                            $("<tr></tr>").append(course_number).append(course_name).append(credit).append(type).append(class_times).append(teacher).append(option).appendTo($("tbody"))
                        })
                    }
                }
            })
        }
        unSelectedCourse()
    </script>
</table>
</body>
</html>