<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../layui/css/layui.css" rel="stylesheet">
    <script src="../js/jquery-3.3.1.js"></script>
    <script src="../layui/layui.js"></script>
    <style>
        .layui-form-label{
            width: 100px;
        }
    </style>
</head>
<body>
<div class="layui-container">
    <div class="layui-row">
        <div class="layui-col-sm10 layui-col-sm-offset1">
        <br>
            <center><h2>完善信息</h2></center>
        <br>
        <form class="layui-form">
            <div class="layui-form-item">
                <label class="layui-form-label">姓名</label>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input" style="width: 400px" name="name" class="layui-input" required lay-verify="required" autocomplete="off">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">性别</label>
                <div class="layui-input-inline">
                    <input type="radio" name="sex" id="man" value="男" title="男">
                    <input type="radio" name="sex" id="woman" value="女" title="女">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">院系</label>
                <div class="layui-input-inline" style="width: 100px">
                    <select name="depatment" id="department">
                        <option value="计科院">计科院</option>
                        <option value="经管院">经管院</option>
                        <option value="外国语学院">外国语学院</option>
                        <option value="文传院">文传院</option>
                    </select>
                </div>
                <div class="layui-input-inline" style="width: 100px">
                    <select name="professional" id="professional">
                    </select>
                </div>
                <div class="layui-input-inline" style="width: 80px">
                    <select name="grade">
                        <option>2017级</option>
                        <option>2018级</option>
                        <option>2019级</option>
                        <option>2020级</option>
                    </select>
                </div>
                <!--省市联动，我到时候会实现-->
                <label class="layui-form-label" style="padding: 0;margin-right: 10px; padding-top: 10px; width: 30px">籍贯</label>
                <div class="layui-input-inline" style="width: 70px">
                    <select name="province" id="pro" lay-filter="brickType">
                        <option>北京市</option>
                    </select>
                </div>
                <div class="layui-input-inline" style="width: 70px">
                    <select name="province_detail" id="cit">
                        <option>北京市</option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">爱好</label>
                <div class="layui-input-inline" style="width: 400px">
                    <input type="checkbox" name="hobby" value="java" title="java">
                    <input type="checkbox" name="hobby" value="AI" title="AI">
                    <input type="checkbox" name="hobby" value="Hadoop" title="Hadoop">
                    <input type="checkbox" name="hobby" value="数据分析" title="数据分析">
                    <input type="checkbox" name="hobby" value="机器学习" title="机器学习">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">政治面貌</label>
                <div class="layui-input-inline" style="width: 130px">
                    <select name="politics_status">
                        <option>党员
                        <option>预备党员
                        <option>入党积极分子
                        <option>共青团员
                        <option>群众
                    </select>
                </div>
                <label class="layui-form-label" style="width: 60px;margin: 0;padding: 0;margin-right: 10px;padding-top: 10px;">手机号</label>
                <div class="layui-input-inline">
                    <input type="tel" name="phone" style="width: 200px" class="layui-input" required lay-verify="required" autocomplete="off">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">家庭联系方式</label>
                <div class="layui-input-inline">
                    <textarea type="text" class="layui-textarea" name="family_card" required lay-verify="required" autocomplete="off"></textarea>
                </div>
            </div>
            <div class="layui-form-item" style="margin-left: 60px">
                <div class="layui-input-inline">
                    <button type="reset" id="reset" style="width: 100px" class="layui-btn layui-btn-radius layui-btn-primary layui-btn-fluid" id="reset">重置表单</button>
                </div>
                <div class="layui-input-inline">
                    <button type="button"  style="width: 100px" class="layui-btn layui-btn-radius layui-btn-fluid" id="submit_info">保存信息</button>
                </div>
            </div>
        </form>
        </div>
    </div>
</div>
<script src="../js/place.js"></script>
<script src="../js/liandong.js"></script>
<script>
    //若用户已经完善过了，只是要修改的话，就显示用户当前的信息
    var student = window.sessionStorage.getItem("student");
    //因为学生表里面没有一个可以标志已经完善信息的flag，就以学生姓名为标准来判断
    if(student.name == null || student.name == ""){
        $("#reset").click()
    }else{
        //将已有的信息放到表单,并设置姓名只读
        $("input[name='name']").val(student.name).prop("readonly",true)

        //判断性别
        if(student.sex == "男"){
            $("#man").attr("checked",true)
            $("#woman").attr("checked",false)
        }else{
            $("#woman").attr("checked",true)
            $("#man").attr("checked",false)
        }

        //专业只读
        $("#professional").append("<option value='"+student.professional+"' selected>student.professional</option>").attr("readonly",true)
        //院系只读
        $("#department").append("<option value='"+student.department+"' selected>student.department</option>").attr("readonly",true)
        //籍贯可更改
        $("#pro").append("<option value='"+student.province+"'selected>student.province</option>")
        $("#cit").append("<option value='"+student.province_detail+"'selected>student.province_detail</option>")
        //爱好
        var hobbies = student.hobby.split(",");
        $.each(hobbies,function (index,item) {
            var hob = $("input[value='"+item+"']")
            if(hob != null){
                hob.attr("checked",true)
            }
        })
        //政治面貌可以改
        $("option[value='"+student.politics_status+"']").attr("selected",true)
        //手机号可以更改
        $("input[name='phone']").val(student.phone)
        //家庭联系方式
        $("textarea[name='family_card']").val(student.family_card)
        layui.form.render()
     }
    //拼装爱好
    var hb = $("input[name='hobby']:checked").val([])
    var hobbies = ""
    $.each(hb,function (index,item) {
        hobbies = item+","
    })
    hobbies = hobbies.substr(0,hobbies.length-1)
    //拼装数据
    var submit_data = {
        number:student.number,
        name:$("input[name='name']").val(),
        sex:$("input[name='sex']").val(),
        department:$("#department").val(),
        professional:$("#professional").val(),
        province:$("#pro").val(),
        province_detail:$("#cit").val(),
        hobby:hobbies,
        politics_status:$("input[name='politics_status']").val(),
        phone:$("input[name='phone']").val(),
        family_card:$("textarea[name='family_card']").val(),
        flag:0
    }
    $("#submit_info").click(function () {
        $.ajax({
            url:"http://127.0.0.1:5000/manage/user/Student",
            type:"POST",
            data:submit_data,
            success:function (data) {
                layui.layer.msg("信息已提交")
            }
        })
    })
    layui.use('form', function(){
        var form = layui.form;
        //监听提交
        form.on('select(brickType)', function(data){
            getCity()
        })
    })
</script>
</body>
</html>