{% extends "teacher_base.html" %}
{% block content %}
<div id="update_form" style="display: none">
    <form class="layui-form" style="display: none">
        <div class="layui-form-item">
            <label class="layui-form-label">课程名称</label>
            <div class="layui-input-inline">
                <input type="text" class="layui-input"  required lay-verify="required" name="course_name">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">类型</label>
            <div class="layui-input-inline">
                <select name="type">
                    <option value="A">A
                    <option value="B">B
                    <option value="C">C
                    <option value="D">D
                    <option value="E">E
                    <option value="F">F
                    <option value="G">G
                    <option value="H">H
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">授课时间</label>
            <div class="layui-input-inline">
                <select name="class_day">
                    <option value="周一"> 周一
                    <option value="周二"> 周二
                    <option value="周三"> 周三
                    <option value="周四"> 周四
                    <option value="周五"> 周五
                    <option value="周六"> 周六
                    <option value="周日"> 周日
                </select>
            </div>
            <div class="layui-input-inline">
                <select class="class_hours">
                    <option value="8:00-09:30">8:00-09:30
                    <option value="8:00-09:30">10:30-12:00
                    <option value="14:30-16:00">14:30-16:00
                    <option value="16:20-18:00">16:20-18:00
                    <option value="18:00-19:30">18:00-19:30
                </select>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">学分</label>
            <div class="layui-input-inline">
                <input type="text" class="layui-input" value="" name="credit">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">可选人数</label>
            <div class="layui-input-inline">
                <input type="text" class="layui-input" value="200" name="number_optional">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">学时</label>
            <div class="layui-input-inline">
                <input class="layui-input" name="class_times">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">上课地点</label>
            <div class="layui-input-inline">
                <input class="layui-input" name="class_place">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">开课学年</label>
            <div class="layui-input-inline">
                <select name="term">
                    <option value="2020年春季">2020年春季</option>
                    <option value="2020年秋季">2020年秋季</option>
                </select>
            </div>
        </div>
        <button type="reset" id="reset" class="layui-btn layui-btn-radius layui-btn-primary">重置表单</button>
        <button type="button" id="class_submit" class="layui-btn layui-btn-radius layui-btn-primary">提交</button>
    </form>
</div>
    <table class="layui-table">
        <thead>
            <tr>
                <th>编号</th>
                <th>课程名</th>
                <th>类型</th>
                <th>上课时间</th>
                <th>可选人数</th>
                <th>学分</th>
                <th>学时</th>
                <th>学年</th>
                <th>上课地点</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>002</td>
                <td>数字逻辑</td>
                <td>A</td>
                <td>Mon 16:30</td>
                <td>200</td>
                <td>1</td>
                <td>12</td>
                <td>2020春季</td>
                <td>慕课</td>
                <td>已通过</td>
                <td>不可修改</td>
            </tr>
        </tbody>
    </table>
    <a href="http://127.0.0.1:5000/manage/user/add_class">添加课程</a>
<script src="../../../static/js/util.js"></script>
<script>
    function insertTable() {

        var course_list = null;
    $.ajax({
        url:"http://127.0.0.1:5000/course_teacher",
        type:"POST",
        data:{
            teacher_number: teacher.id
        },
        success:function (data) {
            if(data.success){
              course_list = data.data

                $("tbody").empty()//先清空表格
        $.each(course_list,function (index,item) {
            var course_number = "<td>"+item.course_number+"</td>"
            var course_name = "<td>"+item.course_name+"</td>"
            var type = "<td>"+item.type+"</td>"
            var class_time_detail = "<td>"+item.class_day+item.class_hours+"</td>"
            var number_optional = "<td>"+item.number_optional+"</td>"
            var credit = "<td>"+item.credit+"</td>"
            var class_time = "<td>"+item.class_times+"</td>" //class_times表示的是学时
            var class_place = "<td>"+item.class_site+"</td>" //class_times表示的是学时
            var term = "<td>"+item.term+"</td>"//class_place表示的是上课地点
            if(item.publish_status == 0){//0表示审核当中，还未通过
                var publish_status = "<td>审核中</td>"
                var option = "<td>"+'<a href=http://127.0.0.1:5000/manage/user/add_class?cid='+item.id+">修改</a>"
            }else{
                var publish_status = "<td>已通过</td>"
                var option = "<td>不可修改</td>"
            }
            $("<tr></tr>").append(course_number)
                .append(course_name)
                .append(type)
                .append(class_time_detail)
                .append(number_optional)
                .append(credit)
                .append(class_time)
                .append(term)
                .append(class_place)
                .append(publish_status)
                .append(option).appendTo($("tbody"))
        })

            }
        }
    })
    if(course_list!=null){
        return course_list
    }

    }
    insertTable()
    //修改课程
    $("#class_submit").click(function () {
        $.ajax({
            url:"http://127.0.0.1:5000/manage/user/Course",//修改课程的接口
            type:"POST",
            data:{
                course_name:$("input[name='course_name']").val(),
                type: $("select[name='type']").val(),
                class_day: $("select[name='class_day']").val(),
                class_hours: $("select[name='class_hours']").val(),
                credit:$("input[name='credit']").val(),
                number_optional:$("input[name='number_optional']").val(),
                class_times:$("input[name='class_times']").val(),//表示的是学时
                class_place:$("input[name='class_place']").val(),//表示上课地点
                term:$("input[name='term']").val(),//表示开课学年
                teacher_id:teacher.id, //教师的id号
                flag:0
            },
            success:function (data) {
                if(data.success){
                    layer.msg("修改成功")
                    insertTable()
                }
            }
        })
    })

    /**
     * @description 根据课程的id获取课程的所有信息，并把信息填充到form表单
     * @param id course的ID
     */
    function update(id) {
        var course = getEntityById(id)
        //课程名称
        $("input[name='course_name']").val(course.course_name)
        //课程类别
        $("option[value='"+course.type+"']").attr("selected",true)
        $("option[value='"+course.class_day+"']").attr("selected",true)
        $("option[value='"+course.class_hours+"']").attr("selected",true)
        $("input[name='credit']").val(course.credit)
        $("input[name='number_optional']").val(course.number_optional)
        $("input[name='class_times']").val(course.class_times)//表示学时
        $("input[name='class_place']").val(course.class_place)//表示上课地点
        $("option[value='"+course.term+"']").attr("selected",true)//表示开课的学年
        layui.layer.open({
            type: 1,
            title:"修改学生信息",
            area:['600px','600px'],
            content: $('#update_from') //这里content是一个DOM，注意：最好该元素要存放在body最外层，否则可能被其它的相对元素所影响
        })
        layui.form.render()

    }
</script>
{% endblock %}
